$white: #fff;
$black: #000;
$bgColor: rgba(0, 0, 0, 0.798);
$inputBgColor: rgba(255, 255, 255, 0.042);
$shadowColor: rgba(0, 0, 0, 0.2);


$fontSizeH1: 50px;
$fontSizeLabel: 17px;

$pix20: 20px;

$formGroupGap: 5px;
$formGroupRowGap: 10px;
$authContWidth: 80%;
$authContHeight: 80vh;
$authContMargin: 10%;
$halfSize: 50%;
$fullSize: 100%;
//$authFormWidth: $authContWidth;
$authFormMargin: 10px 0px;
//$authFormBtnHoverBgColor: $white;
//$authFormBtnHoverColor: $col1;

.authpage {
  width: $fullSize;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.authcont {
  display: flex;
  align-items: center;
  gap: $pix20;
  width: $authContWidth;
  height: $authContHeight;
  box-shadow: 0 0 10px 0 $shadowColor;
  border-radius: 10px;
  overflow: hidden;
  margin: $authContMargin auto;
  background-color: $bgColor;

  img {
    width: $halfSize;
    height: $fullSize;
    object-fit: cover;
  }
}

.authform {
  display: flex;
  flex-direction: column;
  width: $halfSize;
  padding: $pix20;
  gap: $formGroupGap;

  h1 {
    font-size: $pix20;
    font-weight: 500;
    color: var(--col1);
  }

  label {
    font-size: $fontSizeLabel;
    font-weight: 500;
    color: $white;
  }

  .error {
    color: red;
    text-align: left;
    font-size: 1vw;
  }

  input {
    padding: 10px;
    border: 1px solid $white;
    border-radius: 5px;
    outline: none;
    font-size: $pix20;
    font-weight: 500;
    color: $white;
    background-color: $inputBgColor;
  }

  .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: $pix20;
    font-weight: 500;
    color: $white;
    background-color: var(--col1);
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: var(--col1);
    }
  }

  p {
    font-size: $pix20;
    font-weight: 500;
    color: $white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: right;

    &:hover {
      color: var(--col1);
      cursor: pointer;
    }
  }

  .or {
    text-align: center;
    margin: 10px 0px;
    padding: 0px;
    font-size: $pix20;
    color: $white;
  }

  .formgroup {
    display: flex;
    flex-direction: column;
    gap: $formGroupGap;
    width: 100%;
    margin: $authFormMargin;
  }

  .form-group-row {
    display: flex;
    gap: $formGroupRowGap;

    @media (max-width: 1500px) {
      display: flex;
      gap: $formGroupRowGap;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 1100px) {
  .authcont {
    flex-direction: column;
    width: $authContWidth;
    margin: $authContMargin 0;
    align-self: center;
    overflow: scroll;
    gap: 0;

    img {
      width: $fullSize;
      height: $fullSize;
    }
  }

  .authform {
    width: $authContWidth;
  }
}
