.bg-img {
  background-image: url(https://i.gifer.com/xw.gif);
  height: 400px;
  background-position: center;
  background-repeat:no-repeat;
}

.bg-img h1 {
  font-size: 80px;
}

.bg-img h3 {
  font-size: 80px;
}

.link {
  color: #fff;
  padding: 10px 20px;
  background: var(--col1);
  margin: 20px 0;
  display: inline-block;
  text-decoration:none;
}

.link:hover{
  color:#fff;
  background-color: #13ad03;
}
